<template>
  <main>
    <b-row class="d-none d-md-flex">
      <Carousel />
    </b-row>

    <b-row>
      <b-col
        class="mx-auto"
        lg="8"
      >
        <b-alert
          show
          variant="warning"
          v-html="$t('warning.v7')"
        />
      </b-col>
    </b-row>

    <b-row>
      <b-col
        class="mx-auto"
        lg="8"
      >
        <b-alert
          show
          variant="danger"
          v-html="$t('warning.mdp')"
        />
      </b-col>
    </b-row>

    <b-row class="my-4 mx-auto text-center">
      <b-col sm="4">
        <a
          class="btn btn-block btn-info btn-lg my-2"
          href="#what"
          @click="download=false;what=!what"
        >
          <svg-icon
            :label="$t('what.title')"
            name="info-circle"
            size="lg"
            variant="d-block mx-auto"
          />
        </a>
      </b-col>
      <b-col sm="4">
        <a
          class="btn btn-block btn-success btn-lg my-2"
          href="#download"
          @click="download=!download;what=false"
        >
          <svg-icon
            :label="$t('download.title')"
            name="download"
            size="lg"
            variant="d-block mx-auto"
          />
        </a>
      </b-col>
      <b-col sm="4">
        <a
          class="btn btn-block btn-primary btn-lg my-2"
          href="https://mes.framanotes.org"
        >
          <svg-icon
            :label="$t('signin')"
            name="user"
            size="lg"
            variant="d-block mx-auto"
          />
        </a>
      </b-col>
    </b-row>

    <b-row class="justify-content-center">
      <!-- What -->
      <b-col
        v-show="what"
        id="what"
        lg="8"
      >
        <h2 v-html="$t('what.title')"></h2>
        <div v-html="$t('what.md')"></div>
      </b-col>

      <!-- Download -->
      <b-col
        v-show="download"
        id="download"
        lg="8"
      >
        <h2 v-html="$t('download.title')"></h2>
        <div v-html="$t('download.md', img)"></div>
      </b-col>
    </b-row>

    <hr role="presentation" />

    <b-row class="mt-4">
      <!-- Help -->
      <b-col md="4">
        <h2 v-html="$t('help.title')"></h2>
        <svg-icon
          name="question-circle"
          size="3x"
          variant="d-block fc-g6 text-center mb-3"
        />
        <div v-html="$t('help.md')"></div>
      </b-col>

      <!-- About software -->
      <b-col md="4">
        <h2 v-html="$t('software.title')"></h2>
        <svg-icon
          name="cloud"
          size="3x"
          variant="d-block fc-g6 text-center mb-3"
        />
        <div v-html="$t('software.md')"></div>
      </b-col>

      <!-- Garden -->
      <b-col md="4">
        <h2 v-html="$t('garden.title')"></h2>
        <svg-icon
          name="leaf"
          size="3x"
          variant="d-block fc-g6 text-center mb-3"
        />
        <div v-html="$t('garden.md')"></div>
        <b-button
          :href="`${$t('link.cloud')}/${$t('cloud.notes')}`"
          variant="outline-success"
        >
          <svg-icon
            label="framacloud.org"
            name="leaf"
          />
        </b-button>
      </b-col>
    </b-row>
  </main>
</template>

<script>
import Carousel from '../partials/Carousel.vue';

export default {
  components: {
    Carousel,
  },

  data() {
    return {
      download: false,
      what: false,
    };
  },
};
</script>

<style lang="scss">
  #home {
    .alert-warning {
      h4, a {
        color: var(--f-o8);
      }
    }

    .alert-danger {
      h4, a {
        color: var(--f-r8);
      }
    }
  }
</style>
