<template>
  <b-col
    class="carousel-container"
    cols="12"
  >
    <b-carousel
      id="f-carousel"
      ref="f-carousel"
      class="mx-0 my-4"
      controls
      fade
      :indicators="false"
      :interval="interval"
    >
      <b-carousel-slide
        :caption-html="$t('slides[0]')"
        :img-src="`${$t('baseurl')}img/${$t('lang')}/notes-01-slide-creer-compte.png`"
      />
      <b-carousel-slide
        :caption-html="$t('slides[1]')"
        :img-src="`${$t('baseurl')}img/${$t('lang')}/notes-02-slide-noter-mdp.png`"
      />
      <b-carousel-slide
        :caption-html="$t('slides[2]')"
        :img-src="`${$t('baseurl')}img/${$t('lang')}/notes-03-slide-dl-apps.png`"
      />
      <b-carousel-slide
        :caption-html="$t('slides[3]')"
        :img-src="`${$t('baseurl')}img/${$t('lang')}/notes-04-slide-prendre-notes.png`"
      />
    </b-carousel>
    <p
      class="text-center play-pause"
    >
      <button
        v-show="interval === 5000"
        class="carousel-control"
        @click="interval = 0"
      >
        <svg-icon
          :label="$t('carousel.pause')"
          name="pause"
          size="fw"
          sr-only
          variant="mt-n1"
        />
      </button>
      <button
        v-show="interval !== 5000"
        class="carousel-control"
        @click="interval = 5000"
      >
        <svg-icon
          :label="$t('carousel.play')"
          name="play"
          size="fw"
          sr-only
          variant="mt-n1"
        />
      </button>
    </p>
  </b-col>
</template>

<script>
export default {
  data() {
    return {
      interval: 5000,
    };
  },
};
</script>
